:root {
    --primary: #101111;
    --primary_hover: #3f66ad;
}

body {
    font-family: "Fresca", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: var(--primary);
    padding: 20px;
    text-align: center;
}

.title {
    font-family: "Poppins", sans-serif;
}

h1 {
    margin: 0;
    display: block;
    font-size: 2.5rem;
}

nav {
    padding: 15px 0;
    text-align: center;
    display: block;
    height: auto;
}

nav a {
    text-decoration: none;
    color: var(--primary);
    padding: 10px 20px;
    font-weight: bold;
}

nav a:hover {
    color: var(--primary_hover);
}

section {
    padding: 20px;
    color: var(--primary);
}

footer {
    background-color: #acacac;
    color: var(--primary);
    text-align: center;
    padding: 20px;
    bottom: 0;
    max-width: 100%;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.open {
    width: 250px;
}

.side-menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #ddd;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 15px;
    position: sticky;
    z-index: 100;
    float: left;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.change {
    position: fixed;
}

.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar:nth-child(2) {
    opacity: 0;
}

.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -8px);
}

.section-title {
    text-align: center;
}

.project-list {
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-list_item {
    width: min-content;
    padding: 5px;
}

.project-image {
    min-width: 16rem;
    max-width: 16vw;
}

.project-link {
    text-decoration: none;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: inline;
    }

    nav {
        display: none;
    }

    .main_title {
        text-align: right;
    }
}